<app-header [quartos]="'active'"></app-header>

 <!-- TITULO  -->
 <div class="mt-5">
 <div class="d-flex centered p-3 my-3 text-dark bg-color">
    <div class="d-flex align-items-center mr-auto">
        <i class=" mr-3"></i>
        <div class="lh-100">
            <h2 class="mb-0 "><i class="uil uil-bed-double"></i>
                 Quartos</h2>
            <small>Abaixo você encontrará todos os quartos disponíveis.</small>
        </div>
    </div>
    <div class="p-3 mr-3" >
        <!-- <img class="logo" src="../../assets/pingu-logo.png" alt=""> -->
    </div>  
</div>
</div>

<div class="content">
    
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <!-- <h2 class="mb-4 mt-2 text-center">Periodo de reserva</h2> -->
          <form action="#" class="row mt-4">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_from">De</label>
                  <input type="date" [(ngModel)]="de" [ngModelOptions]="{standalone: true}" class="form-control" id="input_from" placeholder="Start Date" min="{{diaHoje}}">
                </div>
                <h3>{{de}}</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_to">Até</label>
                  <input type="date" [(ngModel)]="ate" [ngModelOptions]="{standalone: true}" class="form-control" id="input_to" placeholder="End Date" min="{{diaHoje}}">
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" (click)="getQuartosFiltro()" [disabled]="de < diaHoje || ate < diaHoje || !de || !ate">Filtrar</button>
            </div>
          </form>
        </div>
      </div>
          
    </div>
  </div>

<div class="centered" *ngIf="mensagem && mensagem.length > 0">
    <div *ngFor="let msg of mensagem">
        <div class="alert alert-danger mt-4"  role="alert">
            {{msg}}
        </div>
    </div>          
</div>



<!-- CONTAINER -->
<div class="centered bg-color"> 
  
    <div class="container mb-8 mt-4">
        <div class="row">
            <div class="col mt-5 m-r" *ngFor="let item of quartos">
            <div class="card mb-5 border-20" style="width: 16rem;">
                <img class="card-img-top" src="{{item.imagem}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.nome}}</h5>
                    <!-- <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                        conteúdo
                        do card.</p> -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Valor: R$ {{item.valor.toFixed(2)}} /Dia</li>
                    <li class="list-group-item">Tamanho: {{item.tamanho}}</li>
                    <li class="list-group-item">Camas: {{item.qtdCamas}}</li>
                    <li class="list-group-item">Acomoda: {{item.acomoda}}</li>
                </ul>
                <ul class="list-group list-group-flush" *ngFor="let n of item.beneficios">
                    <li class="list-group-item">{{n}}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Reservar</a>
                    <a href="#" class="card-link">Outro link</a>
                </div>
            </div>
        </div>          
    </div>
    </div>

</div>

<app-footer></app-footer>
