<app-header></app-header>
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>Administrador <b>Controle</b></h2>

                    </div>
                    <div class="col-sm-4">
                        <input [(ngModel)]="reservasIdFiltro" class="form-control mb-2" (keyup)="FilterFn()"
                            placeholder="Filtrar por Reserva" style="width: 50%;">       
                            <input [(ngModel)]="reservasNomeFiltro" class="form-control mb-2" (keyup)="FilterFn()"
                            placeholder="Filtrar por nome" style="width: 50%;">        
                    </div>
                    <!-- <div class="col-sm-3">
                        <input [(ngModel)]="reservasNomeFiltro" class="form-control mb-2" (keyup)="FilterFn()"
                            placeholder="Filtrar" style="width: 50%;">
                    </div> -->

                    <div class="col-sm-5">
                        <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Exportar
                                CSV</span></a>                                       
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Quarto</th>
                        <th>Entrada</th>
                        <th>Saida</th>
                        <th>Reservado</th>
                        <th>Status</th>
                        <!-- <th>Ação</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of reservas">
                        <td>{{r.idReserva}}</td>
                        <td>{{r.nome}}</td>
                        <td>{{r.sobrenome}}</td>
                        <td>{{r.quarto}}</td>
                        <td>{{r.entrada}}</td>
                        <td>{{r.saida}}</td>
                        <td>{{r.dataReserva}}</td>
                        <td><span class="c-pill c-pill--{{r.statusString}}">{{r.statusString}}</span></td>
                        <td>
                            <a href="#" class="settings" title="Finalizar" data-toggle="tooltip"><i
                                    class="material-icons">check_circle</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>