<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img class="logo" src="../../assets/pingu-logo-footer.png" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {{home}}">
        <a class="nav-link" href="/">Tela inicial <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!funcionario" class="nav-item {{quartos}}">
        <a class="nav-link" href="/quartos">Quartos</a>
      </li>
      <li *ngIf="!funcionario" class="nav-item {{historico}}">
        <a class="nav-link" href="/historico">Historico</a>
      </li>
      <li *ngIf="funcionario" class="nav-item {{reservas}}">
        <a class="nav-link" href="adm/reservas">Reservas</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a  *ngIf="!funcionario" class="navbar-brand" routerLink="/perfil">{{nome}}</a>
      <a *ngIf="funcionario" class="navbar-brand" routerLink="/perfil">ADM - {{nome}}</a>
      <a class="navbar-brand click" href="/" (click)="logout()">
        <i class="uil uil-signout"></i> Logout
      </a>
    </form>
  </div>
</nav>