

    <app-header></app-header>
  
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
  
        <section class="content-header">
        </section>
        
        <section class="content">
        
          <div class="jumbotron welcome-jumbotron">
             <h1>Bem vindo ao Pingu!</h1>
             <p>
               Precisa de uma reserva? Reserve da sua casa agora!
             </p>
             <a class="btn btn-primary btn-lg" (click)="teste()">Ver Quartos</a>
             <!-- <a class="btn btn-primary btn-lg" [routerLink]="['/']">Ver Quartos</a> -->
          </div>
        
        </section>
  
      </div>
  
      <app-footer></app-footer>
  