<app-header [quartos]="'active'"></app-header>
<section class=" gradient-custom-2">
  <div class="mt-5">
    <div class="d-flex centered p-3 my-3 text-dark bg-color">
       <div class="d-flex align-items-center mr-auto">
           <i class=" mr-3"></i>
           <div class="lh-100">
               <h2 class="mb-0 ">
                   <!-- <i class="uil uil-bed-double"></i> -->
                   <i class="uil uil-bed"></i> 
                    Detalhes</h2>
               <small>Abaixo você encontrará todos os destalhes disponíveis.</small>
           </div>
       </div>
       <div class="p-3 mr-3" >
           <!-- <img class="logo" src="../../assets/pingu-logo.png" alt=""> -->
       </div>  
   </div>
   </div>


    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <!-- <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">1222528743</span></p> -->
                  <!-- <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">12,March 2019</span> </p> -->
                </div>
                <div>
                  <h6 class="mb-0"> <a href="#">Detalhes</a> </h6>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <h5 class="bold">{{dados.quarto.nome}}</h5>
                  <p class="text-muted">{{dados.quarto.qtdCamas}}</p>
                  <h4 class="mb-3">R$ {{dados.quarto.valor.toFixed(2)}} /Dia<span class="small text-muted"> via (PINGU) </span></h4>
                  <p class="text-muted">Data atual: <span class="text-body">{{diaHojeFormatado}}</span></p>
                </div>
                <div>
                  <!-- <img class="align-self-center img-fluid"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/6.webp" width="250"> -->
                    <img class="align-self-center img-fluid"
                    src="{{dados.quarto.imagem}}" width="250">
                </div>
              </div>
              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span
                    style="margin-left: 22px; margin-top: 12px;">ESCOLHA DO QUARTO</span></li>
                <li class="step0 active text-center" id="step2"><span>DETALHES</span></li>
                <li class="step0 text-muted text-end" id="step3"><span
                    style="margin-right: 22px;">PAGAMENTO...</span></li>
              </ul>
              <form action="#" class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input_from">De</label>
                      <input type="date" [(ngModel)]="dados.DataEntrada" [ngModelOptions]="{standalone: true}" class="form-control" id="input_from" placeholder="Start Date" min="diaHoje">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input_to">Até</label>
                      <input type="date" [(ngModel)]="dados.DataSaida" (change)="DifData()" [ngModelOptions]="{standalone: true}"  class="form-control" id="input_to" placeholder="End Date" min="">
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <button class="btn btn-primary">Filtrar</button>
                </div> -->
                <div class="col-md-6">
                  <h4 class="">Total: <span class="small text-muted"> R$ {{valorTotal.toFixed(2)}}</span></h4>
                </div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 class="fw-normal mb-0"><a href="/quartos"><i class="uil uil-times"></i></a></h5>
                <div class="border-start h-100"></div>
                <!-- <h5 class="fw-normal mb-0"><a href="/quartos">Trocar quarto</a></h5> -->
                <div class="border-start h-100"></div>
                <!-- <h5 class="fw-normal mb-0 point"><a (click)="Pagamento()" >Pagamento</a></h5> -->
                <div class="border-start h-100"></div>
                <!-- <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                </h5> -->
                <h5 class="fw-normal mb-0 point hover-zoom"><a (click)="Pagamento()" >Pagamento <i class="uil uil-bill"></i></a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>